*{
    box-sizing: border-box;
}

img{
    vertical-align: middle;
    object-fit: cover;
}
  
body{
    font-family: "Barlow", sans-serif;
    margin: 0;
}

.container{
    width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
}

//header styles

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    &__logo{
        background: transparent;
          }
}

.navbar{
        .navbar__list{
         display: flex;
         margin: 0;
         padding: 0;
         list-style: none;
        }  
              &__link{
                display: block;
                text-decoration: none;
                font-family: "Barlow", sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 15px;
                color: #83888F;
                padding: 10px;
              }
              &__link:hover{
                color: #333D4B;
              }
}

.hero{
    width: 1280px;
    height: 600px;
    background-color: #A2A2A2;
    border-radius: 10px;
    margin-bottom: 136px;
    padding-top: 117px;
    padding-bottom: 118px;
    padding-left: 85px;
    &__title{
        margin-top: 0;
        font-family: "Fraunces", serif;
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
        color: #FEFCF7;
        margin-right: 702px;
      }
      &__text{
        font-family: "Barlow", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #FEFCF7;
        opacity: 0.8;
        margin-top: 32px;
        margin-right: 750px;
        margin-bottom: 56px;
      }
  }
  
  .link{
    text-decoration: none;
    font-family: "Fraunces" , serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    padding: 15px 31px;
    background-color: #0E8784;
    border-radius: 6px;
  }
  .link:hover{
    background-color: #66D2CF;
  }  
 
 .our-collection-box{
    &__list{
    display: flex;
    margin: 0 auto ;
    padding: 0;
    padding-top: 130px;
    align-items: center;
    width: 1111px;
    justify-content: space-between;
    background-image: url(../img/backgr.png);
    background-repeat: no-repeat;
    }
      &__item{
        list-style: none;
        margin-left: 30px;
       }
       &__div{
        display: flex;
        flex-direction: column;
        align-items: center;
       }
       &__link{
        text-decoration: none;
       }
       &__image{
        z-index: 2;
        width: 256px;
        height: 193px;
       }
       &__title{
        margin: 60px auto auto;
        text-align: center;
        font-family: "Fraunces" , serif;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #333D4B;
      }
      &__text{
        margin-bottom: 188px;
        font-family: "Barlow" , "Arial" sans-serif;
        font-size: 16px;
        width: 255px;
        height: 78px; 
        line-height: 26px;
        color: #333D4B;
      }
       
  }  
 
.our-services{
    &__container{
    margin: 0 auto;
    padding: 0;
    background-image: url(../img/services_back.png);
    background-position: center;
    background-repeat: no-repeat;
   } 
   &__title{
    font-family: "Fraunces" , serif;
    font-weight: 900;
    line-height: 48px;
    margin-bottom: 32px;
    padding-top: 112px;
    font-size: 40px;
    text-align: center;
    color: #FEFCF7;
  }
  &__text{
    width: 540px;
    padding-bottom: 86px;
    margin: 0 auto;
    text-align: center;
    color: #FEFCF7;
  } 
}  

.card-box{
  display: flex;
  margin: 0 auto;
  width: 1110px;
  justify-content: space-between;
  &__card{
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 382px;
  align-items: center;
  background-image: url(../img/card_back.png);
  }
  &__link__img{
    width: 71px;
    height: 72px;
    margin: 72px 143px 56px 143px;
  }
  &__title{
    width: 255px;
    text-align: center;
    font-family: "Fraunces" , serif;
    font-size: 24px;
    line-height: 32px;
    color: #FEFCF7;
  }
  &__text{
    width: 225px;
    height: 78px;
    font-family: "Barlow" , serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
  }
  
}
.card-box_car{
  width: 110px;
  height: 75px;
}

.dedline{
  &__title__word{
    font-family: "Fraunces" , serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
    width: 255px;
    height: 32px;
    margin-top: 200px;
    margin-bottom: 70px;
    margin-left: 45px;
  }
  &__span{
    display: flex;
    width: 730px;
    margin: 70px auto 70px 35px;
  }
  &__list{
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  &__link__box{
    margin-bottom: 200px;
  }
  &__item{
    width: 285px;
    margin-left: 5px;
  }
  &__title{
    font-family: "Fraunces" , serif;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    width: 255px;
    height: 73px;
    margin-top: 38px;
    margin-bottom: 43px;
    color: #333D4B;
  }
  &__text{
    width: 285px;
    font-family: "Barlow" , sans-serif; 
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    margin-bottom: 64px;
  }
  &__link{
    margin-left: 43px;
    margin-bottom: 200px;
  }
}

.span__img{
  width: 31px;
  height: 31px;
}

.span__img + .span__img{
  margin-left: 450px;
}

.footer__box{
  display: flex;
  width: 1280px;
  height: 120px;
  justify-content: space-between;
  align-items: center;
  background-color: #2C343E;
  &__mix{
    display: flex;
    justify-content: space-between;
    width: 622px;
    margin-left: 60px;
    align-items: center;
  }
  &__inner{
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
  }
  &__left__logo{
    width: 236px;
    height: 26px;
  }
  &__navbar{
    margin-left: 100px;
  }
  &__navbar-link{
    color: #83888F;
  }
  &__navbar-link:hover{
    color: white;
  }
  &__right{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
  }
  &__right-list{
    display: flex;
    width: 180px;
    margin-left: 300px;
    justify-content: space-between;
    list-style: none;
    align-items: center;
  }
  &__right-item{
    text-decoration: none;
  }
  &__right-link-facebook{
  width: 24px;
  height: 9.5;
  }
  &__right-img{
    fill: white;
    transition: fill 0.2s ease;
  }
  &__right-img:hover{
    fill: #FDD6BA;
    transition: fill 0.2s ease;
  }
}
